.mainNav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-bottom: 2px solid rgb(250, 60, 60);
  padding-bottom: 10px;
  .changeTheme {
    width: 150px;
    height: 50px;
    background-color: rgb(18, 119, 114);
  }
  .searchBar {
    width: 350px;
    height: 50px;
    background-color: rgb(18, 119, 114);
  }
  .optionsTheme {
    width: 150px;
    height: 50px;
    background-color: rgb(18, 119, 114);
  }
}
